<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>{{title}}</title>
  </head>
  <body>
    <pre>
record_id: {{record_id}}

# Send a request to the record:
curl -d '{ "name": "Cicada" }' \
  -H "Content-Type: application/json" \
   "{{self_url}}/api/records/{{record_id}}"

# Get the recorded requests:
curl "{{self_url}}/api/records/{{record_id}}/requests"

# View the recorded requests in browser:
<a href="{{self_url}}/records/{{record_id}}">{{self_url}}/records/{{record_id}}</a>
    </pre>

  </body>
</html>
